In [3]:
import pandas as pd

In [20]:
# path of all the files that i need
PHI_route = "../data/raw/Average_Daily_Ridership_By_Route - City of Philadelphia.csv"
PHI_mode = "../data/raw/Average_Daily_Ridership_By_Mode - City of Philadelphia.csv"
CHI_mode = "../data/raw/cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572.xlsx"

### Philadelphie (CSV) : Import et standardisation

##### Chargement & Analyse Exploratoire des données By Route

In [5]:
# Chargement du fichier dans une dataframe
df_phi_route = pd.read_csv(PHI_route)

In [6]:
# EDA
df_phi_route.info()
df_phi_route.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10994 entries, 0 to 10993
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            10994 non-null  int64
 1   Calendar_Month           10994 non-null  int64
 2   Route                    10994 non-null  object
 3   Average_Daily_Ridership  10994 non-null  int64
 4   Source                   10994 non-null  object
 5   ObjectId                 10994 non-null  int64
dtypes: int64(4), object(2)
memory usage: 515.5+ KB

       Calendar_Year  Calendar_Month  Average_Daily_Ridership      ObjectId
count   10994.000000    10994.000000             10994.000000  10994.000000
mean     2021.912407        6.330999              3385.447881   5499.318083
std         1.955398        3.396566              7455.070328   3174.096559
min      2019.000000        1.000000                 0.000000      2.000000
25%      2020.000000        3.000000               641.000000   2751.250000
50%      2022.000000        6.000000              1871.000000   5499.500000
75%      2024.000000        9.000000              4284.000000   8247.750000
max      2025.000000       12.000000            135509.000000  10996.000000

In [7]:
df_phi_route.head()

,Calendar_Year,Calendar_Month,Route,Average_Daily_Ridership,Source,ObjectId
0,2019,8,59,3811,APC,2
1,2019,8,60,8550,APC,3
2,2019,8,61,3563,APC,4
3,2019,8,62,226,APC,5
4,2019,8,64,4335,APC,6

In [8]:
# valeurs manquantes par colonne
valeurs_nulles = df_phi_route.isnull().sum()
taux_valeurs_nulles = round((df_phi_route.isnull().sum() / len(df_phi_route)) * 100, 2)
print(taux_valeurs_nulles)

df_nulles = pd.DataFrame({
    'Colonne': valeurs_nulles.index,
    'Nb_Manquants': valeurs_nulles.values,
    'Pourcentage': taux_valeurs_nulles.values
}).sort_values('Nb_Manquants', ascending=False)

print(df_nulles[df_nulles['Nb_Manquants'] > 0])

Calendar_Year              0.0
Calendar_Month             0.0
Route                      0.0
Average_Daily_Ridership    0.0
Source                     0.0
ObjectId                   0.0
dtype: float64
Empty DataFrame
Columns: [Colonne, Nb_Manquants, Pourcentage]
Index: []

In [9]:
# Compter les doublons
df_phi_route.duplicated().sum()

np.int64(0)

##### Chargement & Analyse Exploratoire des données By Mode

In [10]:
#Chargement du fichier dans une dataframe
df_phi_mode = pd.read_csv(PHI_mode)

In [11]:
df_phi_mode.info()
df_phi_mode.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Calendar_Year            492 non-null    int64
 1   Calendar_Month           492 non-null    int64
 2   Mode                     492 non-null    object
 3   Average_Daily_Ridership  492 non-null    int64
 4   Source                   492 non-null    object
 5   ObjectId                 492 non-null    int64
dtypes: int64(4), object(2)
memory usage: 23.2+ KB

       Calendar_Year  Calendar_Month  Average_Daily_Ridership    ObjectId
count     492.000000      492.000000               492.000000  492.000000
mean     2021.926829        6.378049            106415.569106  246.500000
std         1.969919        3.405902            125651.975381  142.172431
min      2019.000000        1.000000               694.000000    1.000000
25%      2020.000000        3.000000             10281.250000  123.750000
50%      2022.000000        6.000000             53531.000000  246.500000
75%      2024.000000        9.000000            156623.250000  369.250000
max      2025.000000       12.000000            503967.000000  492.000000

In [12]:
df_phi_mode.head()

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
0,2019,1,Bus,459160,APC,1
1,2019,1,CCT,4294,Revenue,2
2,2019,1,Heavy Rail,296709,Revenue,3
3,2019,1,Regional Rail,122856,Revenue,4
4,2019,1,Trackless Trolley,16853,APC,5

In [13]:
# valeurs manquantes par colonne
valeurs_nulles = df_phi_route.isnull().sum()
taux_valeurs_nulles = round((df_phi_route.isnull().sum() / len(df_phi_route)) * 100, 2)
print(taux_valeurs_nulles)

df_nulles = pd.DataFrame({
    'Colonne': valeurs_nulles.index,
    'Nb_Manquants': valeurs_nulles.values,
    'Pourcentage': taux_valeurs_nulles.values
}).sort_values('Nb_Manquants', ascending=False)

print(df_nulles[df_nulles['Nb_Manquants'] > 0])

Calendar_Year              0.0
Calendar_Month             0.0
Route                      0.0
Average_Daily_Ridership    0.0
Source                     0.0
ObjectId                   0.0
dtype: float64
Empty DataFrame
Columns: [Colonne, Nb_Manquants, Pourcentage]
Index: []

In [14]:
# Compter les doublons
df_phi_mode.duplicated().sum()

np.int64(0)

### Chicago (Excel + RDF) : Import et standardisation

##### Chargement & Analyse Exploratoire des données By Mode

In [21]:
# Chargement du fichier dans une dataframe
df_chi_mode = pd.read_excel(CHI_mode, engine="openpyxl")
df_chi_mode.info()
df_chi_mode.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   service_date    9100 non-null   datetime64[ns]
 1   day_type        9100 non-null   object
 2   bus             9100 non-null   int64
 3   rail_boardings  9100 non-null   int64
 4   total_rides     9100 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 355.6+ KB

,service_date,bus,rail_boardings,total_rides
count,9100,9.100000e+03,9.100000e+03,9.100000e+03
mean,2013-06-16 12:01:25.846153984,7.044593e+05,5.064497e+05,1.210909e+06
min,2001-01-01 00:00:00,8.078300e+04,2.354400e+04,1.100470e+05
25%,2007-03-25 18:00:00,4.607805e+05,3.265512e+05,7.975130e+05
50%,2013-06-16 12:00:00,7.505730e+05,5.718135e+05,1.399761e+06
75%,2019-09-08 06:00:00,9.553080e+05,6.876832e+05,1.626020e+06
max,2025-11-30 00:00:00,1.211992e+06,1.146516e+06,2.049519e+06
std,NaN,2.691563e+05,2.067194e+05,4.629037e+05

In [16]:
df_chi_mode.head()

  service_date day_type     bus  rail_boardings  total_rides
0   2001-01-01        U  297192          126455       423647
1   2001-01-02        W  780827          501952      1282779
2   2001-01-03        W  824923          536432      1361355
3   2001-01-04        W  870021          550011      1420032
4   2001-01-05        W  890426          557917      1448343

In [17]:
# valeurs manquantes par colonne
valeurs_nulles = df_phi_route.isnull().sum()
taux_valeurs_nulles = round((df_phi_route.isnull().sum() / len(df_phi_route)) * 100, 2)
print(taux_valeurs_nulles)

df_nulles = pd.DataFrame({
    'Colonne': valeurs_nulles.index,
    'Nb_Manquants': valeurs_nulles.values,
    'Pourcentage': taux_valeurs_nulles.values
}).sort_values('Nb_Manquants', ascending=False)

print(df_nulles[df_nulles['Nb_Manquants'] > 0])

Calendar_Year              0.0
Calendar_Month             0.0
Route                      0.0
Average_Daily_Ridership    0.0
Source                     0.0
ObjectId                   0.0
dtype: float64
Empty DataFrame
Columns: [Colonne, Nb_Manquants, Pourcentage]
Index: []

In [22]:
# Compter les doublons
df_chi_mode.duplicated().sum()

np.int64(0)