In [22]:
import pandas as pd

In [23]:
# path of all the files that i need
PHI_route = "../data/raw/Average_Daily_Ridership_By_Route - City of Philadelphia.csv"
PHI_mode = "../data/raw/Average_Daily_Ridership_By_Mode - City of Philadelphia.csv"
CHI_mode = "../data/raw/cta-ridership-daily-boarding-totals-20260203-69820a3f9df63091665572.xlsx"

In [24]:
# Chargement des fichiers dans des dataframes
df_phi_route = pd.read_csv(PHI_route)
df_phi_mode = pd.read_csv(PHI_mode)
df_chi_mode = pd.read_excel(CHI_mode, engine="openpyxl")

In [25]:
print(df_chi_mode.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   service_date    9100 non-null   datetime64[ns]
 1   day_type        9100 non-null   object
 2   bus             9100 non-null   int64
 3   rail_boardings  9100 non-null   int64
 4   total_rides     9100 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 355.6+ KB
None

In [26]:
# Nettoyage du fichier excel : "Supprimer les lignes < 2019"
df_chi_mode = df_chi_mode[~df_chi_mode['service_date'].dt.year.between(2001, 2018)]
df_chi_mode.info()
df_chi_mode.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2526 entries, 6574 to 9099
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   service_date    2526 non-null   datetime64[ns]
 1   day_type        2526 non-null   object
 2   bus             2526 non-null   int64
 3   rail_boardings  2526 non-null   int64
 4   total_rides     2526 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 118.4+ KB

              service_date            bus  rail_boardings   total_rides
count                 2526    2526.000000     2526.000000  2.526000e+03
mean   2022-06-16 12:00:00  447388.560570   335343.043943  7.827316e+05
min    2019-01-01 00:00:00   80783.000000    23544.000000  1.100470e+05
25%    2020-09-23 06:00:00  307571.500000   203752.000000  5.030232e+05
50%    2022-06-16 12:00:00  441554.500000   322465.000000  7.631590e+05
75%    2024-03-08 18:00:00  566131.500000   405493.000000  9.707490e+05
max    2025-11-30 00:00:00  905477.000000   816086.000000  1.677559e+06
std                    NaN  175712.572371   174488.280933  3.456848e+05

In [27]:
df_phi_mode.head(15)

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
0,2019,1,Bus,459160,APC,1
1,2019,1,CCT,4294,Revenue,2
2,2019,1,Heavy Rail,296709,Revenue,3
3,2019,1,Regional Rail,122856,Revenue,4
4,2019,1,Trackless Trolley,16853,APC,5
5,2019,1,Trolley,82787,APC,6
6,2019,2,Bus,464674,APC,7
7,2019,2,CCT,4652,Revenue,8
8,2019,2,Heavy Rail,315858,Revenue,9
9,2019,2,Regional Rail,121161,Revenue,10
10,2019,2,Trackless Trolley,16812,APC,11
11,2019,2,Trolley,82787,APC,12
12,2019,3,Bus,478487,APC,13
13,2019,3,CCT,6027,Revenue,14
14,2019,3,Heavy Rail,308777,Revenue,15

In [31]:
# Filtrer Bus ou tout ce qui contient "Rail"
df_phi_mode = df_phi_mode = df_phi_mode[df_phi_mode['Mode'].eq('Bus') | df_phi_mode['Mode'].str.contains('Rail')]
df_phi_mode.head(15)

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
0,2019,1,Bus,459160,APC,1
2,2019,1,Heavy Rail,296709,Revenue,3
3,2019,1,Regional Rail,122856,Revenue,4
6,2019,2,Bus,464674,APC,7
8,2019,2,Heavy Rail,315858,Revenue,9
9,2019,2,Regional Rail,121161,Revenue,10
12,2019,3,Bus,478487,APC,13
14,2019,3,Heavy Rail,308777,Revenue,15
15,2019,3,Regional Rail,118228,Revenue,16
18,2019,4,Bus,473732,APC,19
20,2019,4,Heavy Rail,305491,Revenue,21
21,2019,4,Regional Rail,124045,Revenue,22
24,2019,5,Bus,480074,APC,25
26,2019,5,Heavy Rail,303776,Revenue,27
27,2019,5,Regional Rail,119187,Revenue,28